In [1]:
import pandas as pd

In [2]:
df = pd.read_excel('cleaned_final.xlsx')
df.head()

,ticker,time,source,headline,trading_status
0,AAPL,2024-01-01 03:07:40,NS:ASSOPR,AP Top Technology News at 3:03 a.m. EST,Non-Trading
1,AAPL,2024-01-01 04:28:07,NS:INDEPE,January sales 2023 UK ?€? live: Today's best n...,Non-Trading
2,AAPL,2024-01-01 04:28:18,NS:HINDUT,Iphone's new iOS update causing connectivity i...,Non-Trading
3,AAPL,2024-01-01 11:31:26,NS:INDIAE,My wishlist: What Apple needs to fix in 2024,Non-Trading
4,AAPL,2024-01-01 12:01:12,NS:INDIAE,"Tech News Today: iPhone 15 for Rs 66,990, ISRO...",Non-Trading

In [3]:
dict1 = {
    'AAPL': 'Apple',
    'BAC': 'Bank of America',
    'SNAP': 'Snap Inc.',
    'PFE': 'Pfizer',
    'NIO': 'NIO Inc.',
    'NVDA': 'NVIDIA',
    'TSLA': 'Tesla',
    'SMCI': 'Super Micro Computer',
    'PLTR': 'Palantir Technologies',
    'INTC': 'Intel',
    'MARA': 'Marathon Digital',
    'AMD': 'Advanced Micro Devices',
    'SOFI': 'SoFi Technologies',
    'PLUG': 'Plug Power',
    'LCID': 'Lucid Motors',
    'SOUN': 'SoundHound AI',
    'AMZN': 'Amazon',
    'RIVN': 'Rivian',
    'CLSK': 'CleanSpark',
    'TLRY': 'Tilray Brands'
} #company full name

In [19]:
#classify if the headline is specifically relevant to company
df['company_news'] = df.apply(lambda x: 0 if (dict1[x['ticker']].lower() in x['headline'].lower()) or 
                                          (x['ticker'].lower() in x['headline'].lower()) else 1, axis = 1)

In [20]:
df.head()

,ticker,time,source,headline,trading_status,company_news
0,AAPL,2024-01-01 03:07:40,NS:ASSOPR,AP Top Technology News at 3:03 a.m. EST,Non-Trading,1
1,AAPL,2024-01-01 04:28:07,NS:INDEPE,January sales 2023 UK ?€? live: Today's best n...,Non-Trading,0
2,AAPL,2024-01-01 04:28:18,NS:HINDUT,Iphone's new iOS update causing connectivity i...,Non-Trading,0
3,AAPL,2024-01-01 11:31:26,NS:INDIAE,My wishlist: What Apple needs to fix in 2024,Non-Trading,0
4,AAPL,2024-01-01 12:01:12,NS:INDIAE,"Tech News Today: iPhone 15 for Rs 66,990, ISRO...",Non-Trading,1

In [21]:
len(df)

82819

In [22]:
df_cleaned = df.drop_duplicates(subset=['ticker', 'headline'])
#remove same news in the same ticker
len(df_cleaned)

64293

In [26]:
df_cleaned.to_csv('final_cleaned_data.csv', index=False)